<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>3D Storage</title>
</head>
<body>
    <header>
        <h1>{{ page_title }}</h1>
        <nav>
            <a href="/">Главная</a> | 
            <a href="/about/">О нас</a> |
            <a href="/upload/">Загрузить</a>
        </nav>
        <hr>
    </header>
    
    <main>
        <p>Добро пожаловать в систему хранения.</p>
        <hr>
    <!--
       {% if assets|length > 0 %}
       <p>Сейчас в базе: <b>{{ assets|length }}</b> модели.</p>
       {% else %}
       <p>База пуста. Загрузите что-нибудь!</p>
       {% endif %} -->
        <h2>Доступные ассеты:</h2>
        <ul>
            {% for asset in assets %}
            <li>
                <strong>{{ asset.title }}</strong>
                
                <!-- asset.file.url – это ссылка на файл (/media/3d_assets/...) -->
                <!-- asset.file.size – размер в байтах. filter 'filesizeformat' делает его читаемым (MB/KB) -->
                <small>Размер: {{ asset.file.size|filesizeformat }}</small>
                <a href="{{ asset.file.url }}" download>[Скачать файл]</a>
            </li>
            {% endfor %}
        </ul>
    </main>
    
    <footer>
        <hr>
        <p>&copy; 2026 Web Structures Course</p>
    </footer>
</body>
</html>
