<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Загрузка модели</title>
    <!-- Простой CSS для наглядности (пока без внешних файлов) -->
    <style>
      body {
        font-family: sans-serif;
        max-width: 600px;
        margin: 2rem auto;
        padding: 0 1rem;
      }
      .form-group {
        margin-bottom: 1rem;
      }
      button {
        padding: 10px 20px;
        cursor: pointer;
      }
      /* ДОБАВЬТЕ ЭТОТ СТИЛЬ ДЛЯ ОШИБОК */

      .errorlist {
        color: #ff69b4;
        list-style: none;
        padding: 0;
        margin: 10px 0;
        font-weight: lighter;
      }
    </style>
  </head>
  <body>
    <h1>Загрузить новую 3D модель</h1>
    <!--
    1. method="post": чтобы отправить данные.
    2. enctype="multipart/form-data": ОБЯЗАТЕЛЬНО для файлов!
    -->
    <form method="post" enctype="multipart/form-data">
      <!-- Защита от хакеров -->
      {% csrf_token %}
      <!-- Django сам нарисует label и input для всех полей -->
      <div class="form-group">{{ form.as_p }}</div>
      <!-- БЛОК ПРЕВЬЮ (Новый) -->
      <div style="margin-bottom: 20px">
        <p>Авто-генерация превью:</p>
        <!-- Сюда JS вставит Canvas с 3D моделью -->
        <div
          id="preview-container"
          style="
            width: 300px;
            height: 200px;
            background: #eee;
            border: 1px solid #ccc;
          "
        >
          <span
            style="
              display: block;
              padding: 80px 0;
              text-align: center;
              color: #999;
            "
            >Выберите файл...</span
          >
        </div>
        <!-- СКРЫТОЕ ПОЛЕ (Сюда JS запишет длинную строку base64) -->
        <input type="hidden" name="image_data" id="id_image_data" />
      </div>
      <!-- Кнопка отправки (блокируем её, пока не сгенерируется картинка) -->
      <button type="submit" id="submit-btn" disabled>Загрузить в базу</button>
      <!-- ... -->
      <!-- Подключаем скрипт-генератор (создадим его на следующем шаге) -->
      <!-- Важно: type="module", чтобы работали импорты Three.js -->
      {% load static %}
      <script type="importmap">
        {
          "imports": {
            "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
          }
        }
      </script>
      <script
        type="module"
        src="{% static 'gallery/js/autothumb.js' %}"
      ></script>

    </form>

    <br />
    <a href="{% url 'home' %}">← Назад в галерею</a>
  </body>
</html>
